html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

.splash-header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;
  background-color: white;
}

.logo {
  box-sizing: border-box;
  font-family: fantasy;
  font-size: 25px;
  font-weight: bold;
  color: #ED6504;
}

.session-button {
  border: 1px solid #287FB8;
  color: #287FB8;
  background-color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 8px 12px;
  margin: 25px;
}

.splash-body {
  display: flex;
  flex-direction: column;
  min-height: 750px;
  flex-grow: 1;
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  line-height: 1.5;
  background-color: #287FB8;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.splash-body-header {
  text-align: center;
  color: #fff;
}

.splash-body-header h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  display: block;
}

.splash-body-header h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 0.75em 0;
  box-sizing: border-box;
  display: block;
}

.splash-body-bottom {
  text-align: center;
  color: #fff;
}

.splash-body-login-link {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding: 1px 12px;
}

.splash-body-bottom h4 {
  font-size: 15px;
  font-weight: normal;
}

.sign-up-form {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.sign-up-form h3 {
  font-size: 20px;
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.signup-box {
  margin-top: 25px;
  width: 400px;
  padding: 20px 60px;
  display: flex;
  background-color: white;
  border-radius: 1%;
}

.demo-login {
  width: 400px;
  padding: 20px 60px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  justify-content: center;
  border-radius: 1%;
}

.login-mid-line {
  display: flex;
  margin: 0 55px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.demo-login-button {
  width: 200px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  min-width: 6em;
  padding: 8px 12px;
  text-align: center;
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.signup-box fieldset {
  text-align: left;
}

.signup-box p {
  font-size: 14px;
  font-weight: normal;
  color: #27374c;
  opacity: .75;
}

.signup-box fieldset label {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  cursor: pointer;
}

.join-name {
  display: flex;
  justify-content: space-between;
}

.join-name-input {
  width: calc(50% - 10px);
  display: inline-block;
  box-sizing: border-box;
}

.signup-box input {
  width: 280px;
  height: 50px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  padding: 12px 8px;
  box-shadow: none;
  margin-bottom: 25px;
}

.join-name-input input {
  width: 130px;
  height: 50px;
}

.orange-button {
  display: flex;
  justify-content: center;
}

.signup-submit {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  background-color: #ED6504;
  border-color: #ED6504;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: calc(100% - 40px);
  color: white;
  cursor: pointer;
}

.login-page {
  width: 100%;
  height: 900px;
  background-color: black;
  display: flex;
  opacity: 0.9;
  justify-content: center;
}
.login-form-box {
  margin: 170px;
  display: block;
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 560px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.login-header-box {
  border-bottom: 1px solid rgba(0,0,0,0.20);
}

.login-header {
  padding: 25px 40px;
  color: #34495e;
  font-size: 19px;
  font-weight: normal;
  box-sizing: border-box;
  line-height: 1.2;
}

.login-form {
  display: block;
  box-sizing: border-box;
  padding: 20px 40px 40px;
}

.login-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.20);
  border-radius: 2px;
  padding: 12px 8px;
  font-size: 15px;
}

.login-submit {
  margin-top: 30px;
  text-align: center;
  background: #287FB8;
  border: #287FB8;
  line-height: 1.5;
  font-size: 15px;
  padding: 8px 12px;
  color: white;
  height: 45px;
  cursor: pointer;
}

.no-account-yet {
  display: block;
  font-size: 16px;
  color: #34495e;
  text-align: center;
  box-sizing: border-box;
  margin: 40px 0 0;
}

.join-link {
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  background-color: white;
  color: #287FB8;
  border: 1px solid #287FB8;
  width: 140px;
  padding: 8px 12px;
  line-height: 1.5;
}

.or-divider {
  text-align: center;
}