.footer-main {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 20px;
  display: flex;
  box-sizing: border-box;
  font-size: 12px;
  justify-content: center;
  text-align: left;
  color: #34495e
}

.connect-dev {
  color: #929DAD;
}

.footer-content {
  width: 900px;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  background-color: white;
  padding-left: 25px;
  padding-top: 5px;
  justify-content: flex-start;
}

.connect-links {
  width: 100%;
}

.connect-icons {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-top: 10px;
}

.connect-icons li {
  font-size: 20px;
  display: block;
  line-height: 1;
  padding: 0.3em;
  margin-right: 30px;
  border: 2px solid #EFF3F3;
  border-radius: 50%;
}

a.contact:hover {
  position: relative;
}

a.contact span {
  display: none;
}

a.contact:hover span {
  font-size: 12px;
  text-align: center;
  border: #ED6504;
  width: 100px;
  padding: 5px;
  display: block;
  z-index: 100;
  background: #ED6504;
  color: white;
  left: -50px;
  margin: 15px;
  position: absolute;
  top: -50px;
  border-radius: 5px;
}