.spots-index-header {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.spot-index-item {
  width: 300px;
  height: 225px;
  display: inline-block;
  padding: 2px;
  text-align: center;
  align-content: space-between;
  vertical-align: middle;
  // background-color: rgba(154, 235, 150, 0.25);
  color: #287FB8;
  // color: #ED6504;
  font-family: fantasy;
  font-weight: bold;
  font-size: large;
  margin-top: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 10px;
}

.index-item-style {
  list-style: none;
}

.spot-index-pix {
  width: 280px;
  height: 175px;
}